<div class="container">
  <%= simple_form_for @gist_session do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :start_time %>
    <%= f.input :finish_time %>
    <%= f.input :capacity %>
    <%= f.input :photo, as: :file %>
    <%= f.input :host_id, :as => :hidden %>
    <br>
    <%= f.button :submit, class: "formbtn btn" %>
  <% end %>
</div>
