<div class ="titles-box">
  <div class="home-titles">
    All sessions near you
  </div>
</div>

<div class="container">
  <div class="sportcards">
    <% @gist_sessions.each do |session| %>
      <div class="card p-3 session-card-style">
        <% if session.photo.present?  %>
          <%= cl_image_tag session.photo.key, crop: :fill %>
        <% end %>

        <div class="session-card-titles">
          <%= session.title.upcase %>
        </div>
        <br>
        <div>
          <p>🕓<strong> Session time: <%= session.start_time.strftime('%H')%>:00hrs </strong> </p>
          <p>Address: <%= session.address%>0</p>
          <p>🧍‍♂️🧍‍♀️ <strong> Max. <%= session.capacity %> attendees </strong> </p>
        </div>
          <%= link_to "More info", session, class: "formbtn btn" %>
        </div>
    <% end %>
  </div>
</div>

  <div class ="titles-box">
    <div class="home-titles">
      Discover more activites
    </div>
  </div>
<div class="container">
  <div class="session-ad">
    <div class="d-flex bd-highlight">
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1583139937725-8ccafdb2db1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
          <h5 class="session-ad-text"> SEX </h5>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1540497077202-7c8a3999166f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
          <h5 class="session-ad-text"> GYM </h5>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2125&q=80')">
          <h5 class="session-ad-text"> MOVIES </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="session-ad">
    <div class="d-flex bd-highlight">
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1541872703-74c5e44368f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1895&q=80')">
          <h5 class="session-ad-text"> POLITICS </h5>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1571771826307-98d0d0999028?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
          <h5 class="session-ad-text"> DATING/RELATIONSHIP </h5>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1444653614773-995cb1ef9efa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80')">
          <h5 class="session-ad-text"> BUSINESS </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="session-ad">
    <div class="d-flex bd-highlight">
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/flagged/photo-1550413231-202a9d53a331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
          <h5 class="session-ad-text"> FOOTBALL </h5>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1483985988355-763728e1935b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80')">
          <h5 class="session-ad-text"> FASHION </h5>
        </div>
      </div>
      <div class="p-2 bd-highlight">
        <div class="category" style="background-image: url('https://images.unsplash.com/photo-1579684385127-1ef15d508118?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80')">
          <h5 class="session-ad-text"> HEALTH </h5>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class ="titles-box">
    <div class="home-titles">
      Checkout the favourites
    </div>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card rounded" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1518892579059-3a737e37d8fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
        <div class="card-body">
          <h5 class="card-title">Hangouts</h5>
          <p class="card-text">Join us to talk about life, ask questions of your peers, hang out with like minded people, and get a few laughs in. This group is not meant to be coaching, a workshop or therapy. Sometimes you just want to gab, connect and have fun with people who get you. Talk about your favorite binge shows, podcasts, books or insta.  Of course if you have an ADHD issue we are here to support you as well. The purpose of the ADDA Young Adult Hangout is to provide a safe space for connection and casual conversation outside of the regular biweekly support group meetings. This group was born of a desire for greater social connection and is intended for members ages 18-28.</p>
          <a href="#" class="homebtn btn-block">More info</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card rounded" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/flagged/photo-1550413231-202a9d53a331?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
        <div class="card-body">
          <h5 class="card-title">Football</h5>
          <p class="card-text">Football is a family of team sports that involve, to varying degrees, kicking a ball to score a goal. Unqualified, the word football normally means the form of football that is the most popular where the word is used. Sports commonly called football include association football (known as soccer in some countries); gridiron football (specifically American football or Canadian football); Australian rules football; rugby football (either rugby union or rugby league); and Gaelic football</p>
          <a href="#" class="homebtn btn-block">More info</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card rounded" style="width: 20rem;">
        <img class="card-img-top" style="background-image: url('https://images.unsplash.com/photo-1520242739010-44e95bde329e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80')">
        <div class="card-body">
          <h5 class="card-title">Partying</h5>
          <p class="card-text">Gisting about how we enjoy ourselves at a party or other lively gathering, typically with drinking and music. gistying about setting up social gatherings, as of invited guests at a private home or public event space, for conversation, refreshments, entertainment, etc...</p>
          <a href="#" class="homebtn btn-block">More info</a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
